body {
    background-color: pink;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header h1, header h2, section p, footer nav {
    text-align: center;
  }
  
  section img {
    float: left; 
    margin: 10px; 
    max-width: 200px; 
  }

  footer nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #af4c86;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }

  footer nav a:hover {
    background-color: #8345a0;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
  }
  
  ul li span {
    text-align: left;
    padding-right: 20px;
  }
  
  ul li img {
    max-width: 150px;
    height: auto;
    justify-self: right;
  }  
  
  section p {
    padding: 10px;
    background-color: #f9e7f1;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
  }

  body {
    margin: 0;
    padding: 20px;
    border: 30px solid transparent;
    border-color: #f9e7f1;
    background-color: pink;
    font-family: Georgia, serif; 
    text-align: center;
  }
